.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 100;
}

.button[name="+"],
.button[name="-"],
.button[name="*"],
.button[name="/"],
.button[name="="] {
  background-color: rgb(228, 151, 79);
}
